<?xml version="1.0" encoding="utf-8" ?>
<wxsmith>
	<object class="wxFrame" name="MyFrame">
		<size>512,512</size>
		<id_arg>0</id_arg>
		<handler function="OnClose" entry="EVT_CLOSE" />
		<object class="wxBoxSizer" variable="BoxSizer1" member="no">
			<object class="sizeritem">
				<object class="wxBoxSizer" variable="BoxSizer2" member="no">
					<orient>wxVERTICAL</orient>
					<object class="sizeritem">
						<object class="wxButton" name="ID_ADDTRIANGLE" variable="AddTriangle" member="yes">
							<label>Add Triangle</label>
							<handler function="OnAddTriangleClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_ADDRECTANGLE" variable="AddRectangle" member="yes">
							<label>Add Rectangle</label>
							<handler function="OnAddRectangleClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="spacer">
						<flag>wxALL|wxALIGN_CENTER_HORIZONTAL|wxALIGN_CENTER_VERTICAL</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_TOGGLETRACE" variable="ToggleTrace" member="yes">
							<label>Toggle trace</label>
							<handler function="OnToggleTraceClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_RESETCOLOR" variable="ResetColor" member="yes">
							<label>Reset color</label>
							<handler function="OnResetColorClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CHANGECOLOR" variable="ChangeColor" member="yes">
							<label>Change color</label>
							<handler function="OnChangeColorClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_TOGGLEVISIBILITY" variable="ToggleVisibility" member="yes">
							<label>Hide/Unhide</label>
							<handler function="OnToggleVisibilityClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_CLONE" variable="Clone" member="yes">
							<label>Clone</label>
							<handler function="OnCloneClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
					<object class="sizeritem">
						<object class="wxButton" name="ID_DELETE" variable="Delete" member="yes">
							<label>Delete</label>
							<handler function="OnDeleteClick" entry="EVT_BUTTON" />
						</object>
						<flag>wxALL|wxEXPAND</flag>
						<border>5</border>
						<option>1</option>
					</object>
				</object>
				<flag>wxALL</flag>
				<border>5</border>
			</object>
			<object class="sizeritem">
				<object class="wxPanel" name="ID_PANEL1" variable="Panel1" member="yes">
					<size>333,176</size>
					<maxsize>-1,-1</maxsize>
					<handler function="OnPanel1Paint" entry="EVT_PAINT" />
					<handler function="OnPanel1LeftDown" entry="EVT_LEFT_DOWN" />
					<handler function="OnPanel1LeftUp" entry="EVT_LEFT_UP" />
					<handler function="OnPanel1MouseMove" entry="EVT_MOTION" />
				</object>
				<flag>wxALL|wxEXPAND</flag>
				<border>5</border>
				<option>2</option>
			</object>
		</object>
		<object class="wxMenuBar" variable="MenuBar1" member="no">
			<object class="wxMenu" variable="Menu1" member="no">
				<label>&amp;File</label>
				<object class="wxMenuItem" name="ID_MENUITEM1" variable="idMenuQuit" member="no">
					<label>Quit</label>
					<accel>Alt-F4</accel>
					<help>Quit the application</help>
					<handler function="OnQuit" entry="EVT_MENU" />
				</object>
			</object>
			<object class="wxMenu" variable="Menu2" member="no">
				<label>Help</label>
				<object class="wxMenuItem" name="idMenuAbout" variable="MenuItem2" member="no">
					<label>About</label>
					<accel>F1</accel>
					<help>Show info about this application</help>
					<handler function="OnAbout" entry="EVT_MENU" />
				</object>
			</object>
		</object>
		<object class="wxStatusBar" name="ID_STATUSBAR1" variable="StatusBar1" member="yes">
			<fields>1</fields>
			<widths>-1</widths>
			<styles>wxSB_NORMAL</styles>
		</object>
	</object>
</wxsmith>
